<section id="contactNewsletter">
	{% if errors is not empty %}
		{% for error in errors %}
			<p>{{error}}</p>


		{% endfor %}
	{% else %}
		<p>{{ sentence}}</p>
	{% endif %}


	<form method="post" classe="container">
		<div class="mb-3">
			<div class="row">
				<input type="hidden" value="{{ newsletter.id }}" name="id">
				<label class="col" for="email">Newsletter</label>
			</div>
			<div class="row-2">
				<input class="col-1 justify-content-center" type="text" value="{{ newsletter.email }}" name="email">
				<a href="/Home/newsLetter/{{ newsletter.email }}" class="text-reset"><span class="col-1 justify-content-center material-icons"> send</span></a>
			</div>
		</div>
	</form>
</section>
