{% extends 'layout.html.twig' %} {% block content %}
<h1>Article {{ product.picture }}</h1>
<p>{{ product.title}}. {{ product.artiste }}. {{ product.description }}. {{ product.price }}. {{ product.title }}. {{ product.size }}. {{ product.categorie}}</p>

<button type="submit" class="btn btn-outline-secondary">ADD TO CART</button> {% endblock %}