{% extends 'layout.html.twig' %}

{% block title %}
	Account
{% endblock %}

{% block navbar %}
	{% include 'Admin/_adminnavbar.html.twig' %}
{% endblock %}

{% block content %}
	<div class="container">
		<h2>Hello
			{{session.user.lastname}}
			{{session.user.firstname}}<h2>

				<div class='container text-center'>
					<h1 class="mt-5">YOUR WISHES!</h1>
					<table class="table table-bordered mt-5">
						<thead>
							<tr>
								<th scope="col">Product</th>
								<th scope="col">Description</th>
								<th scope="col">image</th>
							</tr>
						</thead>
						<tbody>
							{% for wish in wishlist %}
								<tr>
									<td>{{wish.product.title}}</td>
									<td>{{wish.product.description}}</td>
									<td>{{wish.product.image}}</td>
									<td>
										<a href="/wishlist/dislike/{{wish.wish_id}}">Delete from wish</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
                <div><a href="/home/shop">Other products</a></div>
			</div>
		{% endblock %}

		{% block footer %}
			{% include 'Admin/_adminfooter.html.twig' %}
		{% endblock %}
